.page-wrapper{
    padding: 20px 4em;
}

#wrapper {
    align-self: center;
    margin: 40px auto;
    max-width: 1200px;
}

#review-wrapper {
    margin-top: 30px;
}

#form {
    margin: 40px auto 60px;
}

#comments-wrapper {
    margin-top: 20px;
}

#comments {
    margin-top: 20px;
}

.line {
    margin: 20px auto 40px;
    max-width: 1200px;
    border-bottom: 1px solid rgb(199, 199, 199);
}