.header{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
    background-color: #dbdcdb;
    padding: 30px 4em;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 1000;
}

.title {
    color: rgb(0, 0, 0);
    font-size: x-large;
    text-decoration: none;
}

.nav_buttons{
    float: right;
}

#signup{
    background-color: rgb(53, 53, 53);
    padding: 15px 22px 18px 20px;
    margin-left: 40px;
    color: white;
}

.buttons_after_login {
    margin-left: 40px;
	color: rgb(0, 0, 0);
    text-decoration: none;
}

.buttons_before_login {
    margin-left: 40px;
	color: rgb(0, 0, 0);
    text-decoration: none;
}